:root{
    --bg-color: rgb(156, 198, 235)
}


/* colors:
    Aberdeen reds
    #2E112D
    #540032
    #820333
    #C9283E
    #C9283E
*/


.flex{
    display: flex;

}

.flex > a {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.center-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.project-item{
    flex: 1;
    flex-basis:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding:100px;
    border-radius: 50px;
}

@keyframes rgb{
    0%{
        background-color: #2E112D;
    }
    1%, 100% {
        background-color: #540032;
    }
}

.project-item:hover{
    animation: rgb 60s 1;
}

