:root{
    --bg-color: rgb(156, 198, 235)
}


/* colors:
    Aberdeen reds
    #2E112D
    #540032
    #820333
    #C9283E
    #C9283E
*/


.flex{
    display: flex;

}

.flex > a {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.center-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#project-container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.project{
    margin: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding:50px;
    border-radius: 50px;
}

@keyframes rgb{
    0%{
        background-color: #2E112D;
    }
    1%, 100% {
        background-color: #540032;
    }
}

.project:hover{
    animation: rgb 60s 1;
}

#web-title{
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
    text-align: center;
}

.project-header {
    text-align: center; 
}